.header {
    background:$dark-blue;
    color:$off-white;
    padding: $s-size 0;
}

.header__title {
   color: white;
   text-decoration: none;
   h1 {
       margin: 0;
   }
}

.header__content {
    align-items: center;
    display: flex;
    justify-content: space-between;
}


.page-header__actions {
 margin-top: $s-size;
}

.header__subtitle {
    font-size: $s-size;
    font-weight: 300;
    margin: 0;
    color:$off-cyan;
}

.footer {
    background:$off-black;
    color:$off-white;
    padding: $s-size;
    margin-top: 20rem;
}

.rdt_TableHeader  {
    background: $dark-lighten;
}

.rdt_TableFooter {
    background: $dark-lighten;
}

// @media(min-width:$desktop-breakpoint) {
//     .header {
//         margin-bottom: $xl-size;
//     }
// }