html {
    font-size: 62.5%;
}

body {
    font-family: Helvetica, Arial, sans-serif;
    font-size: $s-size;
    background: $dark-blue;

}

button {
    cursor: pointer;
    outline: none;
    margin: 0;
    padding: 0;
}

button:disabled {
    cursor: default;
}

.is-active {
    background: whitesmoke;
    font-weight: bold;
    color: blue;
    font-size: 1.6rem;
    font-style: italic;
}