//color
$off-black:rgba(139, 133, 133, 0.801);
$off-white: white;
$off-cyan: cyan;
$dark-light: #b2b2b3;
$dark-lighten: #ababaf;
$purple:rgb(238, 102, 238);
$light-blue: blue;
$blue: #1c88bf;
$dark-blue: #364051;

//space
$xs-size: 0.8rem;
$s-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
$desktop-breakpoint: 45rem;